.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.ant-page-header .ant-page-header-heading {
  align-items: center;
  margin: 0px 20px;
}
.ant-page-header-heading-extra > * {
  margin: 0px 5px;
}
.footer * {
  margin: 0px 2px;
}
